img{
    width: 200px;
}

.category_button {
    background-color: white;
    color: rgb(68, 68, 184);
    font-size: 20px;
    width: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
div{
    border: 1px solid black;
}
.name_product{
    color:#d22519;
    font-weight: bolder;
    font-size: 35px;    
}
.product_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cena{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h3_cena_and_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:600px;
}
.categ_name{

}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/