<div class="about-page">
  <header>
    <h1>Info</h1>

    <div>
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a class="f2" routerLink="/albums" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
      <a class="f2" (click)='alert("87009585864")' routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
    </div>
  </header>


  
  
  
  <div class="info-text">
    <p>
      sjlfvnsfvso vsrjvgopjsekvffmn poisrjofvjsejrvnjn[sem irojserjserjrvjnesvo jipsprvvipjserijrpvnsenvrjnsipjvnservv sdvsrevsfvservoin  oshurivnsfdlnv isrinjnson oiuishrvin
    </p>
  </div>
</div>
